## Escrever passo a passo do processo manual

  1.  Entrar no sistema
  2.  Navegar até o local do arquivo
  3.  Baixar o relatório
  4.  Calcular os indicadores
  5.  Entrar no email
  6.  Enviar os resultados

## Importar as biblioteca necessárias

In [51]:
import pyautogui as pya
import pyperclip as pyc
import time
import pandas as pd

In [64]:
pya.PAUSE = 0.6


pya.press("win")
pya.write("edge")
pya.press("enter")
pyc.copy("https://drive.google.com/drive/u/0/folders/1KIEOJWhKvt9tgNWTc9X4IhrdijrYRgNb")
pya.hotkey("ctrl","v")
pya.press("enter")

time.sleep(3)
pya.click(x=1041, y=364,clicks=2)
pya.click(x=380, y=362)
pya.click(x=1168, y=159)
pya.click(x=1022, y=592)
pya.click(x=1022, y=592)
time.sleep(3)
pya.click(x=1152, y=153)
pya.click(x=524, y=442)

In [67]:
tabela = pd.read_csv(r'C://Users/helde/Downloads/school_and_country_table (2).csv')
display(tabela)

                               school_name                   country
0                       Harvard University  United States of America
1       California Institute of Technology  United States of America
2    Massachusetts Institute of Technology  United States of America
3                      Stanford University  United States of America
4                     Princeton University  United States of America
..                                     ...                       ...
813                      Xidian University                     China
814                    Yeungnam University               South Korea
815            Yıldız Technical University                    Turkey
816               Yokohama City University                     Japan
817           Yokohama National University                     Japan

[818 rows x 2 columns]

In [63]:
pya.position()

Point(x=1152, y=153)